
<div class="fix aside">
    <ul>
        <li>
            <a href="{G:INDEX}/uplivepopo.php?mod=index">
                <i class="fa fa-home"></i>
                <span>首页</span>
            </a>

        </li>
        
        <li>
            <a href="javascript:void(0)">
                <i class="fa fa-address-card"></i>
                <span>代理模块</span>
                <i class="fa fa-minus fr"></i>
            </a>
            <div class="">
                <p><a href="{G:INDEX}/uplivepopo.php?mod=userlist">🌈我邀请的用户</a></p>
                <p><a href="{G:INDEX}/uplivepopo.php?mod=recharge">🌈受邀用户充值列表</a></p>
                <p><a href="{G:INDEX}/uplivepopo.php?mod=earningslist">🌈我的收益分红</a></p>
                <p><a href="{G:INDEX}/uplivepopo.php?mod=amount">🌈我的提现/提现管理</a></p>
                <p><a href="{G:INDEX}/uplivepopo.php?mod=updatepass">🌈后台密码修改</a></p>
            </div>
        </li>


        <div class="clear"></div>
    </ul>
    
</div>