<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>{G:TITLE}</title>
    <link rel="stylesheet" href="{G:CSS}/backstage.css" />
    <link rel="stylesheet" href="{G:CSS}/font-awesome.min.css" />
    <script src="{G:JS}/jquery-1.8.3.min.js"></script>
    <script src="{G:JS}/backstage.js"></script>
</head>
<body>
    {template:model:admin:header}
    {template:model:admin:aside}
    <div class="wrap">
        <div class="w100">
            {template:model:admin:tag}
            <div class="content">
        		<div class="frame">
                    <p class="title">发布平台通知/官方消息</p>
                    <div class="frmtable_content">
                		<table class="w100">
                			<tbody>
                			<tr>
                				<td>消息类型</td>
                				<td class="rel">
                					<input readonly="true" value="" class="pub_select" name="mtype" placeholder="点击选择消息类型">
                					<ul class="abs hide">
                					    <li value="1">平台通知</li>
                					    <li value="2">官方消息</li>
                					</ul>
                				</td>
                			</tr>
                			<tr>
                				<td>消息内容</td>
                				<td><input  name="content" placeholder="文字不宜过多,建议不要超过150字"></td>
                			</tr>
                			
                			<tr>
                				<td></td>
                				<td><a href="javascript:;" class="btn submit" rel="addmessage"><i class="fa fa-plus-square-o"></i>发布</a></td>
                			</tr>
                		</tbody></table>
                	</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>